{% extends 'website/base.html' %}
{% load static %}

{% block navbar %}
    <div class="w3-bar w3-black w3-card">
        <a href="{% url 'website:index' %}" class="w3-bar-item w3-button w3-padding-large"> Home </a>
        <a href="/produkty" class="w3-bar-item w3-button w3-padding-large"> Wszystkie produkty </a>
        {% for category in categories %}
        <a href="{% url 'products:products_category' category %}" class="w3-bar-item w3-button w3-padding-large">{{ category.name }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}
    <div id="products">
        <div id="products_top">
            <h3><b> Produkty </b></h3>
            <h4 id="products_filter"> Filtr: </h4>
            <input type="text" id="products_filter_text"/>
            <form id="del_from_db" method="POST" action="#">
                {% csrf_token %}
                <input type="hidden" name="checked_ids" value="" id="js_data_input"/>
                <button type="submit" onclick="updateChecked()" name="submit" value="Submit" id="del_from_db2"> Usuń </button>
            </form>
        </div>
        {% include 'products/_product_table.html' %}
    </div>
{% endblock %}

{% block content %}
    <div id="new_product">
        <form method="post" action="#">
        {% csrf_token %}
            <table cellpadding="8">
                <thead>
                    <tr>
                        <th colspan="2">
                            <h3><b> Dodaj produkt </b></h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{ form_new_product }}
                </tbody>
            </table>
        <button id="save_product" type="submit" value="save"> Zapisz </button>
        </form>
    </div>

    <div id="new_supplier">
        <form method="post" action="#">
        {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th colspan="2">
                            <h3><b> Nowy dostawca </b></h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{ form_new_supplier }}
                </tbody>
            </table>
            <button id="save_supplier" type="submit" value="save"> Zapisz </button>
        </form>
    </div>

    <div id="supplier_list">
        <h3><b> Dostawcy </b></h3>
        <ul id="supplier_ul">
        {% for supplier in suppliers %}
            <li> {{ supplier }} </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block javascript %}
<script src="{% static 'findChecked.js' %}" type="text/javascript"></script>
<script src="{% static 'filterProducts.js' %}" type="text/javascript"></script>
{% endblock %}